<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Perfil</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
  <div id="perfil"> <img  id="imgPerfil" src="assets/imgs/perfil.jpg">
    </div>  
    <div class="centrado"> 
      <button  ion-button color="primary" clear>Cambiar Foto</button>
    </div>
   
 
    <ion-list>

      <ion-item>
        <ion-label fixed>Nombre</ion-label>
        <ion-input type="text" value="Rosete"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Correo</ion-label>
        <ion-input type="text" value="Rosete@vextor.com"></ion-input>
      </ion-item>
      <div class="centrado">
        <button id="btn-guardar" ion-button>Guardar</button>
      </div>
      
    
    </ion-list>

  </ion-content>