page-perfil {
    
    #perfil{
        display: flex;
        justify-content: center;
    }

    #imgPerfil{
        width:40%;
        height: 40%;
        border-radius: 100%;
        margin-top: 10%;
    }

    .centrado{
        display: flex;
        justify-content: center;
    }

    #btn-guardar{
        margin-bottom: 10%;
    }

}

