<ion-menu [content]="content" side="left" id="menu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only>
              <ion-icon name="repeat"></ion-icon>
          </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar>
          <img (click)="goPerfil();" src="assets/imgs/perfil.jpg">
        </ion-avatar>
        <h2>Manuel Antonio Rosete</h2>
        <p>Modo: Chef</p>
      </ion-item>
      <button menuClose ion-item *ngFor="let p of pages" [class.active-menu]="menuActive(p)" (click)="openPage(p)">
              <ion-icon name="{{p.icon}}" item-left></ion-icon>
              {{p.title}}
          </button>
      <button menuClose ion-item (click)="logout()">
              <ion-icon name="log-out" item-left></ion-icon>
              Cerrar sesión
          </button>
    </ion-list>
  </ion-content>
</ion-menu> 

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>