page-home {
    #map {
        width: 100%;
        height: 100%;
      }

   	
      .barra_search{
      	position: absolute; 
      	top: 10px; 
      	z-index: 99;
      }


	.fabs_person {
	  text-align: center;
	  position: absolute;
	  top: 90%;
	  
	}

	.fab_person {
	  display: inline-block;
	  width: 48px;
	  height: 48px;
	  border-radius: 30px;
	  line-height: 60px;
	  text-align: center;
	  background:#e41715;
	  color: white;
	  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	  cursor: pointer;
	  padding: 4px;
	  
	}

	.fab_person img{
		display: block;
	  	width: 100%;
	  	border-radius: 100%;
	}

	.content_circle{
		width: 25%;
		float: left;
	}

	.iconStyle{
		color: black;
		font-size: 50px;
	}

	.oculto{
		display: none;
	}

	.espacioIcon{
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	.espacioIcon:last-child{
		
		margin-top: 5px;
		padding-right: 0px;
	}

	

}
