<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>House Food</ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="position: relative;"  >
    <!-- -->
    <div id="map"></div>

    <ion-grid class="barra_search">
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <div>
                    <ion-searchbar #buscar style="display: absolute;" placeholder="¿Quién es tu chef favorito?" [(ngModel)]="busqueda" (blur)="blurBuscar()"></ion-searchbar>
                    <ion-list inset *ngIf="busqueda != ''">
                        <ion-item>
                            <ion-avatar item-start>
                                <img src="assets/imgs/perfil.jpg">
                            </ion-avatar>
                            <h2>Manuel Antonio Rosete Alcántar</h2>
                            <p>Cuernavaca, Mor.</p>
                        </ion-item>

                        <button ion-item style="text-align: center;">
                            Ver todos...
                        </button>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <div #localizacion>
      <ion-fab  bottom right>
          <button  ion-fab color="primary" (click)="cargarLocalizacion()">
              <ion-icon name="navigate"></ion-icon>
          </button>
      </ion-fab>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 class="fabs_person">
                    <div #rowDown>
                        <ion-icon (click)="scrollToBottom()" class="iconStyle" ios="ios-arrow-dropup-circle" md="md-arrow-dropup-circle"></ion-icon>
                    </div>

                    <div #rowUp class="oculto">
                       <ion-icon (click)="scrollToTop()" class="iconStyle" ios="ios-arrow-dropdown-circle" md="md-arrow-dropdown-circle"></ion-icon>
                    </div>

            </ion-col>
        </ion-row>
    </ion-grid>

    

    <ion-grid #recomendaciones>
        <ion-row>

            <ion-col  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style="text-align: center;">
                    <ion-badge>Recomendaciones</ion-badge>
            </ion-col>

            

              <ion-col  class="espacioIcon">
                  
                      <div class="fab_person ">
                          <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
                      </div>
                 
                      <div class="fab_person ">
                          <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
                      </div>
                 
                  
                    <div class="fab_person ">
                        <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
                    </div>
               
                  
                      <div class="fab_person">
                          <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
                      </div>
                  
                 
                  
              </ion-col>

        </ion-row>
    </ion-grid>

    <!--<div class="at-about-fab">
        <div class="at-about-fab__thumbnail">
          <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
        </div>
      </div> 

      <div class="fabs_person">
          
          <div class="content_circle">
              <div class="fab_person ">
                  <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
              </div>
          </div>
          
          <div class="content_circle">
              <div class="fab_person ">
                  <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
              </div>
          </div>

          <div class="content_circle">
              <div class="fab_person ">
                  <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
              </div>
          </div>

          <div class="content_circle">
              <div class="fab_person ">
                  <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
              </div>
          </div>

          <div class="content_circle">
              <div class="fab_person ">
                  <img alt="Andy Tran" src="https://en.gravatar.com/userimage/64217327/096c4ecedf5cf0259c707b7f5255246d.jpg?size=200" />
              </div>
          </div>
          
      </div> -->



</ion-content>