$font-path: "../assets/fonts";

@import "ionic.globals";

$text-color:        #000;
$background-color:  #fff;

$list-md-border-color: #efefef;
$list-border-color: #efefef;
$line-color: 		#efefef;

$colors: (
  primary:    #e41715,
  secondary:  #fbee18,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #4F7330,
  claro:      #8DC540,
  positive:   #A1DBB2,
  hover:      #fff
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
