<ion-slides pager>

  <ion-slide>
    <div style="
    width: 360px;
    height: 616px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('assets/imgs/pueblo.jpg');"></div>
  </ion-slide>
  <ion-slide>
    <div style="
    width: 360px;
    height: 616px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('assets/imgs/imagen1.jpg');"></div>
  </ion-slide>
  <ion-slide>
    <div style="
    width: 360px;
    height: 616px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('assets/imgs/imagen2.jpg');"></div>
  </ion-slide>
</ion-slides>