<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Método de pago</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
  
  </ion-content>